<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>고양이 사진과 이야기를 공유하는 홈페이지 입니다.</P>
      <img src ="http://localhost:3001/img/cat.jpg" style="width: 720px;">
    </div>
  </body>
</html>
