<!DOCTYPE html>
<html>
<head>
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>

    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
    <meta charset="UTF-8">
    <title>without bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <%- include('../partials/head') %>

    <%- include('../partials/nav') %>

</head>
<body>


<form action="/posts" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="" class="form-control">
      </div>

    <textarea id="summernote" name="editordata"></textarea>
  
    <div>
        <a class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>
<script>
  $(document).ready(function() {
//여기 아래 부분
$('#summernote').summernote({
   toolbar: [
       // [groupName, [list of button]]
       ['fontname', ['fontname']],
       ['fontsize', ['fontsize']],
       ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
       ['color', ['forecolor','color']],
       ['table', ['table']],
       ['para', ['ul', 'ol', 'paragraph']],
       ['height', ['height']],
       ['insert',['picture','link','video']],
       ['view', ['fullscreen', 'help']]
     ],
   fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
   fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
 });

});
 </script>

  </body>
</html>