<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <h1>고양이 이야기</h1>
      <P>고양이 이야기에서 놀다가세요^^</p>
    </div>

    </div>
  </body>
</html>
